<launch>
  <!-- rosbag play -->
  <arg name="bag"/>
  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg bag)" required="true"/>
  
  <node pkg="velodyne_pointcloud" type="cloud_node" name="cloud_node">
    <param name="calibration" value="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
    <param name="min_range" value="0.4"/>
    <param name="max_range" value="130.0"/>
  </node>

  <!-- FLOBOT 3D Object Detector -->
  <node pkg="object3d_detector" type="object3d_detector" name="object3d_detector" output="screen" respawn="false">
    <param name="print_fps" value="false"/>
    <param name="model_file_name" type="string" value="$(find object3d_detector)/libsvm/pedestrian.model"/>
    <param name="range_file_name" type="string" value="$(find object3d_detector)/libsvm/pedestrian.range"/>
  </node>
  
  <!-- STRANDS Ground Plane Estimation   -->
  <include file="$(find ground_plane_estimation)/launch/ground_plane_estimated.launch">
    <arg name="camera_namespace" value="/camera"/>
    <arg name="depth_image" default="/depth/image_raw"/>
  </include>

  <!-- STRANDS Upper Body Detector -->
  <include file="$(find upper_body_detector)/launch/upper_body_detector.launch">
    <arg name="camera_namespace" value="/camera"/>
    <arg name="depth_image" default="/depth/image_raw"/>
    <arg name="rgb_image" default="/rgb/image_raw"/>
  </include>
  
  <!-- ROS leg detector -->
  <include file="$(find detector_msg_to_pose_array)/launch/to_pose_array.launch"/>
  <node pkg="leg_detector" type="leg_detector" name="leg_detector" args="scan:=scan $(find leg_detector)/config/trained_leg_detector.yaml" output="screen">
    <param name="fixed_frame" type="string" value="odom"/>
    <param name="publish_leg_markers" type="bool" value="false"/>
    <param name="publish_people_markers" type="bool" value="true"/>
  </node>
  
  <!-- FLOBOT RGB-D Leg Detector -->
  <node pkg="rgbd_leg_detector" type="rgbd_leg_detector" name="rgbd_leg_detector" output="screen" respawn="true"/>
  
  <!-- NBellotto's Bayes People Tracker -->
  <rosparam command="load" file="$(find flobot_tracker)/config/detectors.yaml"/>
  <node pkg="bayes_people_tracker" type="bayes_people_tracker" name="bayes_people_tracker" output="screen" respawn="true">
  </node>
  
  <!-- Rviz for UOL's platform -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find flobot_tracker_bringup)/launch/flobot_tracker_lcas.rviz"/>
</launch>
