catkin_ws/.cproject
catkin_ws/.project
catkin_ws/.pydevproject
cmake_install.cmake
catkin_ws/build/
catkin_ws/devel/
catkin_ws/msg_gen/
catkin_ws/srv_gen/
gazebo/

catkin_ws/src/podcar/CMakeFiles/
catkin_ws/src/podcar/cmake_install.cmake
catkin_ws/src/podcar/devel/
catkin_ws/src/podcar/gtest
catkin_ws/src/podcar/models/plugins/CMakeCache.txt
catkin_ws/src/podcar/models/plugins/CMakeFiles
catkin_ws/src/podcar/models/plugins/CTestConfiguration.ini
catkin_ws/src/podcar/models/plugins/CTestCustom.cmake
catkin_ws/src/podcar/models/plugins/CTestTestfile.cmake
catkin_ws/src/podcar/models/plugins/Makefile
catkin_ws/src/podcar/models/plugins/atomic_configure
catkin_ws/src/podcar/models/plugins/catkin/
catkin_ws/src/podcar/models/plugins/catkin_generated/
catkin_ws/src/podcar/models/plugins/devel/
catkin_ws/src/podcar/models/plugins/gtest
catkin_ws/src/podcar/models/plugins/libpodcarGazeboROSPlugin.so
catkin_ws/src/marvelmind_nav/
catkin_ws/src/podcar/params/local_costmap_params_marvelmind.yaml
catkin_ws/src/podcar/params/global_costmap_params_marvelmind.yaml
docs/OpenPodcar.aux
docs/OpenPodcar.bbl
docs/OpenPodcar.blg
docs/OpenPodcar.log
docs/OpenPodcar.out
docs/OpenPodcar.synctex.gz

