<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	  <arg name="world_name" value="$(find podcar)/launch/clearpath_playpen.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="podcar" type="cmd_velHandler.py" name="cmd_velHandler" />
  <node pkg="podcar" type="sensorMsgs_Pointcloud_Handler.py" name="sensorMsgs_Pointcloud_Handler" />
  <node pkg="podcar" type="odometry_Handler.py" name="odometry_Handler" />
  <node pkg="podcar" type="podcar_tf_broadcaster.py" name="podcar_tf_broadcaster" />
  
  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node> -->
  
  <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="/kinectLink"/>
    <param name="range_min" value="0.001"/>
    <param name="range_max" value="100"/>
    <remap from="image" to="/camera/depth/image_raw"/>
    <remap from="scan" to="/sensor_msgs/LaserScan" />
  </node>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan2"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="/kinectLink2"/>
    <param name="range_min" value="0.001"/>
    <param name="range_max" value="100"/>
    <remap from="image" to="/camera2/depth/image_raw"/>
    <remap from="scan" to="/sensor_msgs/LaserScan2" />
  </node>

</launch>

