<launch>

 <include file="/home/podcar/catkin_ws/src/velodyne/velodyne_pointcloud/launch/VLP16_points.launch"/>

 <node pkg="podcar" type="joystick.py" name="joystick" />
 
 <node pkg="podcar" type="joystick2speedms.py" name="joystick2speedms" />
 <node pkg="podcar" type="speedms2arduino.py" name="speedms2arduino" />

 <node pkg="podcar" type="joystick2wheelAngle.py" name="joystick2wheelAngle" />
 <node pkg="podcar" type="wheelAngle2pololu.py" name="wheelAngle2pololu" />

<!--
 <node pkg="podcar" type="pololuController" name="pololuController" />
-->


</launch>
