<launch>

 <!-- CHANGE THIS TO THE PATH CORRESPONDING TO WHERE THE VELODYNE LAUNCH FILE IS -->
 <include file="/home/fanta/phd_work/Podcar_github/podcar/catkin_ws/src/velodyne/velodyne_pointcloud/launch/VLP16_points.launch"/>

 <node pkg="podcar" type="speed2arduino_sim2real" name="speed2arduino_sim2real" /> 

 <node pkg="podcar" type="wheelAngle2pololu_sim2real.py" name="wheelAngle2pololu_sim2real" />
 <node pkg="podcar" type="pololuController" name="pololuController" /> 

 <node pkg="podcar" type="cmd_velHandler.py" name="cmd_velHandler" />
 <node pkg="podcar" type="odometry_publisher.py" name="odometry_publisher" />
 <node pkg="podcar" type="sensorMsgs_Pointcloud_Handler_sim2real.py" name="sensorMsgs_Pointcloud_Handler" />
 <node pkg="podcar" type="odometry_Handler.py" name="odometry_Handler" />
 <node pkg="podcar" type="podcar_tf_broadcaster_sim2real.py" name="podcar_tf_broadcaster" />

 

</launch>

