<?xml version='1.0'?>
<model>
  <name>Podcar</name>
  <version>0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Charles Fox</name>
    <email>chfox@lincoln.ac.uk</email>
  </author>

  <description>
    Lincoln Podcar (based on Clearpath Husky code)
  </description>
</model>
