<?xml version='1.0'?>
<model>
  <name>INBLincoln_3DMap</name>
  <version>0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Fanta Camara</name>
    <email>fcamara@lincoln.ac.uk</email>
  </author>

  <description>
    INB Building 3D Map for C19ADV project
  </description>
</model>
